.tangled-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    gap: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.tangled-image {
    width: 200px; /* Adjust size as needed */
    height: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.tangled-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    padding-left: 90px;
    padding-right: 90px;
}

.audio-button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #6a0dad;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.audio-button:hover {
    background-color: #4b0a99;
}
